<!DOCTYPE html>
<html ng-app="myFilterApp1">
<head>
<script src="libs/angular.min.js"></script>
<script src="src/filter1.js"></script>
<link href="css/tables.css" rel="stylesheet">
</head>
<body ng-controller="myFilterController1">
	<div>
		<input type="number" step="1" min="0" max="5" ng-model="rowLimit">
	</div>
	<br>
	<div>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>DOB</th>
					<th>Gender</th>
					<th>Salary(Number)</th>
					<th>Salery(Currency)</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="employee in employees | limitTo:rowLimit">
					<td>{{employee.name | uppercase}}</td>
					<td>{{employee.dob | date:"dd/MM/yyyy"}}</td>
					<td>{{employee.gender | lowercase}}</td>
					<td>{{employee.salary | number:2}}</td>
					<td>{{employee.salary | currency:" Rs ":1}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>