<!DOCTYPE html>
<html ng-app="appValidate">
	<head>
		<script type="text/javascript" src="lib/angular.min.js"></script>
		<script type="text/javascript" src="scripts/form_validation.js"></script>
		<style type="text/css">
			table,td {
				border:1px solid grey;
				padding: 5px;
			}
		</style>
	</head>
	<body ng-controller="controllerValidate">
		<form name="myForm">
			<table>
				<tbody>
					<tr>
						<td>Username:</td>
						<td>
							<input type="text" name="userName" ng-model="user.name">
						</td>
					</tr>
					<tr>
						<td>Password:</td>
						<td>
							<input type="password" name="userPass" ng-model="user.pass">
						</td>
					</tr>
					<tr>
						<td>
							<button ng-click="clearFields()">Clear</button>
						</td>
						<td>
							<button ng-click="submitFields()">Submit</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</body>
</html>