<!DOCTYPE html>
<html ng-app="myAppEvent">
	<head>
		<script src="libs/angular.min.js"></script>
		<script src="src/event.js"></script>
		<link href="css/event.css" rel="stylesheet">
	</head>
	<body ng-controller="myControllerEvent">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Like</th>
					<th>Dislike</th>
					<th>Like/Dislike</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tech in technologies">
					<td>{{tech.name}}</td>
					<td>{{tech.likes}}</td>
					<td>{{tech.dislikes}}</td>
					<td>
						<input type="button" value="Likes" ng-click="incrementLikes(tech)">
						<input type="button" value="Dislikes" ng-click="incrementDislikes(tech)">
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>